# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
flask
flask-wtf
flask-security
pyodbc
#flask-mongoengine
flask-sqlalchemy
openssl
python-dotenv
sqlite
tzdata
werkzeug
wtforms
email_validator
#ipykernel
pandas
